.header-section{
  height: 10%;
  display: flex;
    justify-content: space-between;
    align-items: center;
}
mat-card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 !important;
  border-radius: 20px;
}
.table-section{
  margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.header-section{
  margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.newBtn{
  background-color: #0d83f7;
  color: white;
  border-radius: 20px;
  width: 10vw;
}
